.main{
    border: 2px solid black;
    width: 90%;
    height: 700px;
    margin: auto;
    background: linear-gradient(to right,
    #12c2e9, #79b6c4, #5e58ad);
    display: flex;
}

.Reset{
    width: 40%;
    height: 350px;
    margin: auto;
    margin-top: 150px;
    /* border: 2px solid black; */
    border-radius: 10px;
    background-image: url(c:\Users\hp\Downloads\Sign.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.Reset h1{
    text-align: center;
    color: blueviolet;
    margin-top: 50px;
}
.Reset input{
    width: 80%;
    margin: auto;
    height: 30px;
    margin-left: 45px;
    margin-top: 20px;
}
.Reset button{
    margin-left: 220px;
    margin-top: 50px;
    width: 20%;
    height: 25px;
    background-color: blueviolet;
    color: white;
}